* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: "Lexend Deca", sans-serif;
}

h3 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: hsl(0, 0%, 95%);
}

p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.container {
    padding: 45px;
}

.card {
    padding: 25px;
}

.card img {
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 20px;
}

.card p {
    padding-bottom: 30px;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.sedans .btn {
    color: hsl(31, 77%, 52%);
}

.suvs .btn {
    color: hsl(184, 100%, 22%);
}

.luxury .btn {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    padding-right: 40px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    padding-right: 40px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding-right: 40px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width:375px) {
    .container {
        display: block;
        align-items: center;
        justify-content: center;
        padding: 45px;
        margin: auto;

    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }
}
@media (min-width:1440px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 990px;
        margin: auto;
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }

    .card {
        padding: 50px;
    }
}
